.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: #eee;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: #f5ba13;
  margin: 0px;
  padding: 10px 30px;
  text-align: start;
  color: white;
  box-shadow:0 0 10px 0 rgb(0 0 0 / 30%);
}

.notes{
  text-align: start;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  width: 250px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  float: left;
  flex-direction: row;
}

.notes p{  
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* .note-container{
  display: flex;
flex-direction: row; */
/* flex-shrink: ; */
/* align-items: flex-start;
flex-wrap: wrap;
max-width: 100%; */
/* overflow-wrap: normal; */
/* } */

.notes p,h2{
margin: 0px;
padding: 2px;

}

footer{
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #ccc;
  margin-bottom: 10px;
  font-size: 20px;
}

.add-note{
  background-color: white;
  
  max-width: 500px;
  margin:30px auto ;
  box-shadow: 1px 2px 5px #ccc;
  border-radius: 10px;
}

.add-note .title-input{
  margin-top: 10px;
  font-size: 30px;
  border: none;
  width: 90%;
  font-weight: bold;
}

.add-note .text-area{
  margin-top: 5px;
  border: none;
  width: 90%;
  font-size: 20px;

  margin-left: 30px;
  height: 100px;
  resize: none;
  display: block;
}

textarea:focus, input:focus{
  outline: none;
}

.add-note button{
  background-color: #f5ba13;
  border: none;
  visibility: visible;
  position: relative;
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
left: 180px;
top: 25px;
}

.notes button{
  background-color: red;
  border: none;
  position: relative;
  color: black;
  float: right;
  font-size: 15px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
/* left: 180px;
top: 35px; */
}

.add-note-text-area .title-input{
visibility: hidden;
}

.add-note-text-area button{
visibility: hidden;
  
}

.add-note-text-area{
  background-color: white;  
  max-width: 500px;
  margin:30px auto ;
  box-shadow: 1px 2px 5px #ccc;
  border-radius: 10px;
}

.add-note-text-area .text-area{
  margin-top: 5px;
  border: none;
  width: 90%;
  font-size: 20px;
  padding: 0px;
  margin-left: 30px;
  resize: none;
  display: block;
}